[submodule "multy_process_cis_tcp"]
	path = tcp
	url = git@github.com:eltex-ss/multy_process_cis_tcp.git
[submodule "multy_process_cis_udp"]
	path = udp
	url = git@github.com:eltex-ss/multy_process_cis_udp.git
