[submodule "tcp"]
	path = multy_process_cis_tcp
	url = git@github.com:eltex-ss/multy_process_cis_tcp.git
[submodule "udp"]
	path = multy_process_cis_udp
	url = git@github.com:eltex-ss/multy_process_cis_udp.git
